<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />
    <context:component-scan base-package="org.rsd.service.impl" />
    <context:component-scan base-package="org.rsd.controller" />

    <!-- 放行所有的静态资源-->
    <mvc:default-servlet-handler />
    <!-- 加了上一行配置后，controller无法访问，需要增加如下一行配置。-->
    <mvc:annotation-driven />

    <bean id="mySystemLog" class="org.rsd.aop.MySystemLog" />
    <bean id="myPrintInfo" class="org.rsd.aop.MyPrintInfo" />
    <bean id="mySayHello" class="org.rsd.aop.MySayHello" />
    <bean id="myAdvice" class="org.rsd.aop.MyAdvice" />

    <!-- 使用的是spring AOP的功能，但是在解析execution要借助aspectj.jar包来完成，所以需要下载相应的jar包文件（aspectjweaver.jar）。-->
    <aop:config>
        <aop:pointcut id="controller" expression="execution(* org.rsd.controller.*.*(..))" />
        <aop:advisor advice-ref="mySayHello" pointcut-ref="controller" />
        <aop:advisor advice-ref="mySystemLog" pointcut-ref="controller" />
        <aop:advisor advice-ref="myPrintInfo" pointcut-ref="controller" />
    </aop:config>

    <!-- 使用的是Aspectj的AOP功能，通过xml的方法实现面向切面编程的效果。-->
    <aop:config>
        <aop:aspect ref="myAdvice">
            <aop:before method="info1" pointcut-ref="controller" />
            <aop:after method="info2" pointcut-ref="controller" />
            <aop:around method="info3" pointcut-ref="controller" />
        </aop:aspect>
    </aop:config>

    <!-- 使用的是Aspectj的AOP功能，增加AOP注解标签的使用 -->
    <aop:aspectj-autoproxy />
    <context:component-scan base-package="org.rsd.aop" />

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/rsd_website" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
    </bean>

    <bean name="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mapper/*.mapper.xml" />
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true" />
                <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" />
                <property name="cacheEnabled" value="true" />
            </bean>
        </property>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor" />
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.rsd.mapper" />
        <property name="sqlSessionFactoryBeanName" value="factory" />
    </bean>
</beans>